</br>
<input type="text" ng-model="criterioDeBusca" placeholder="Buscar clientes" class="form-control"/>
</br>
<table class="table table-striped" ng-show="data.length > 0">
  <thead>
    <tr>
      <th></th>
      <th><a href="" ng-click="ordenarPor('nome')"></a>Nome</th>
      <th><a href="" ng-click="ordenarPor('nome')"></a>Cpf</th>
      <th><a href=""></a>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="cliente in data | filter:{nome:  criterioDeBusca} | orderBy:'nome'" >
      <td></td>
      <td>{{cliente.nome }}</td>
      <td>{{ cliente.cpf }}</td>
      <td>{{ cliente.contato.email }}</td>
      <td>x</td>
      <td>v </td>
    </tr>
  </tbody>
</table>