<div class="col-md-12">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
        Controle Financeiro
        </a>
      </div>
    
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <a id="" href="#/cliente">Cliente</a>
          </li>
          <li>
            <a id="" href="#/servico">Servico</a>
          </li>
          <li>
            <a id="" href="#">Movimentação</a>
          </li>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>